.weather {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  background: white;
  max-width: 480px;
}
.weather__row{
  display: flex;
  justify-content: space-between;
}
.wc{
  padding: 10px;
  &__status{
    font-size: 2.6em;
    color: red;
  }
  &__temp{
    padding-left: 8px;
  }
}